<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b3982d16-ed54-4e68-8813-a3eb4436e702/resourceGroups/tavu_group/providers/Microsoft.Web/sites/tavu</ResourceId>
    <ResourceGroup>tavu_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tavu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5df2dfa4-561c-4730-afd0-3278e517d78d</ProjectGuid>
    <PublishUrl>https://tavu.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tavu</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>